
@{
    ViewBag.Title = "Maintain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var oTable;
    //初始設定
    $(function () {
        //var DateYM = GetNowTime(); //取現在時間"YYYMM" , 預設帶入時間
        QuerySetting();
    });
        //新增或修改
    function DoAction(ActionName, ActionCode, IsOn) {
        if (ActionName == 'Modify')
            document.location.replace('@Url.Action("Update", "JobReminder")' + '?ActionCode=' + ActionCode);
        if (ActionName == 'isOnoff') {
            document.location.replace('@Url.Action("isOnoff", "JobReminder")' + '?ActionCode=' + ActionCode + '&IsOn=' + IsOn);
        }
    }

    //查詢
    function QuerySetting() {
        //初始化
        $.ajax({
            type: 'POST',
            data: {},
            //async: false, //啟用同步請求
            url: '@Url.Action("QuerySetting", "JobReminder")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //失敗的處理
                if (data.db_Result) {
                    alert(data.db_Result);
                    return;
                }
                var _StrHtml = '';
                _StrHtml += '<thead><tr><td>編號</td><td>功能名稱</td><td colspan="2">工作區間</td><td>註記</td><td colspan="2">操作</td></tr></thead>';
                _StrHtml += '<tbody>';
                $.each(data.data, function (i, ddl) {
                    var _StrIsOn = '';
                    if (ddl.IsOn == 1)
                        _StrIsOn = '<button type="button" class="btn btn-success" onclick="DoAction(\'isOnoff\',\'' + ddl.ActionCode + '\',\'' + ddl.IsOn + '\');">啟用中</button></td>';
                    else
                        _StrIsOn = '<button type="button" class="btn btn-danger" onclick="DoAction(\'isOnoff\',\'' + ddl.ActionCode + '\',\'' + ddl.IsOn + '\');">停用中</button></td>';
                    _StrHtml += '<tr >';
                    _StrHtml += '<td id="Seq' + ddl.Seq + '">' + ddl.Seq + '</td>'; //流水號
                    _StrHtml += '<td id="Actions' + ddl.Seq + '">' + ddl.ActionName + '</td>'; //功能
                    _StrHtml += '<td id="WorkStart' + ddl.Seq + '">' + ddl.WorkStart + '</td>'; //工作區間(起)
                    _StrHtml += '<td id="WorkEnd' + ddl.Seq + '">' + ddl.WorkEnd + '</td>'; //工作區間(尾)
                    _StrHtml += '<td id="WorkName' + ddl.Seq + '">' + ddl.WorkName + '</td>'; //註記
                    _StrHtml += '<td id=""><button type="button" class="btn btn-primary btn-space" onclick="DoAction(\'Modify\',\'' + ddl.ActionCode + '\',\'\');">修改</button>'
                        + _StrIsOn; //操作
                    _StrHtml += '</tr >';

                });
                _StrHtml += '</tbody > ';
                $('#tbResult').html(_StrHtml);

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
        //觸動年月選擇,異動下列報表
        $(document).on('change', '#ddlYM', function () {
            var DateYM = $('#ddlYM').find(":selected").val();
            QueryTable(DateYM);
        });
        //把查詢值暫存起來
        //$('#hidUserName').val($('#ddlUserName').val());
        //$('#hidFuncName').val($('#ddlFuncName').val());
        //$('#hidStatus').val($('#ddlStatus').val());
        //$('#hidloggedStart').val($('#ddlloggedStart').val());
        //$('#hidloggedEnd').val($('#ddlloggedEnd').val());
    }

    //重置查詢條件
    function Reset() {
        //$('#files').val('');
        //$('#ddlUserName').val('');
        //$('#ddlFuncName').val('');
        //$('#ddlStatus').val('');
        //$('#ddlloggedStart').val('');
        //$('#ddlloggedEnd').val('');
    }
    function GetNowTime() {
        //取現在時間
        var today = new Date();
        var _month = (today.getMonth() + 1).toString();
        if (_month.length == 1)
            _month = "0" + _month;
        var DateYM = (today.getFullYear() - 1911).toString() + _month;

        return DateYM;
    }
</script>
<section class="content-header">
    <h1>
        工作提醒(月執行)
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row vertical-align">
                        @*<div class="col-xs-auto">年月:</div>
                        <div class="col-xs-2">
                            <select name="ddlYM" id="ddlYM" class="form-control"></select>
                        </div>*@
                        @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.col -->
        </div>
        <input type="hidden" id="hidUserName" />
        <input type="hidden" id="hidFuncName" />
        <input type="hidden" id="hidStatus" />
        <input type="hidden" id="hidloggedStart" />
        <input type="hidden" id="hidloggedEnd" />
        <!-- /.row -->
    </div>
</section>



