@{
    ViewBag.Title = "Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var oTable;
    //初始設定
    $(function () {
        GroupByYM();
        JudgeInsert();
        var DateYM = GetNowTime(); //取現在時間"YYYMM" , 預設帶入時間
        QueryTable(DateYM);
    });
    //建立項目
    function JudgeInsert() {
         $.ajax({
            type: 'POST',
            data: {},
            //async: false, //啟用同步請求
            url: '@Url.Action("JudgeInsert", "JobReminder")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != "")
                    alert(data);
            }, fail: function () {
                alert('建立項目失敗!!');
            }
        })
    }

    //搜尋年月(下拉清單)
    function GroupByYM() {
         $.ajax({
            type: 'POST',
            data: {},
            //async: false, //啟用同步請求
            url: '@Url.Action("GroupByYM", "JobReminder")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data.data, function (i, pd) {
                    $("#ddlYM").append('<option value="' + pd.YM + '">' + pd.YM + '</option>');
                });
                $('#ddlYM option[value=' + GetNowTime() +']').attr('selected', 'selected');
            }, fail: function () {
                alert('搜尋年月清單失敗!!');
            }
        })
    }

    //查詢
    function QueryTable(DateYM) {
        var SigningInfoItemsViewModel = { YM: DateYM};
        //初始化
        $.ajax({
            type: 'POST',
            data: SigningInfoItemsViewModel,
            //async: false, //啟用同步請求
            url: '@Url.Action("QueryTable", "JobReminder")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //失敗的處理
                if (data.db_Result) {
                    alert(data.db_Result);
                    return;
                }
                var _StrHtml = '';
                _StrHtml += '<thead><tr><td>編號</td><td>功能名稱</td><td colspan="2">工作區間</td><td>執行狀態</td><td>通知信狀態</td><td>註記</td></tr></thead>';
                _StrHtml += '<tbody>';
                $.each(data.data, function (i, ddl) {

                    _StrHtml += '<tr >';
                    _StrHtml += '<td id="Seq' + ddl.Seq + '">' + ddl.Seq + '</td>'; //流水號
                    //_StrHtml += '<td id="Groups' + ddl.ID + '">' + ddl.Groups + '</td>'; //角色
                    //_StrHtml += '<td id="YM' + ddl.ID + '">' + ddl.YM + '</td>'; //年月
                    _StrHtml += '<td id="Actions' + ddl.Seq + '">' + ddl.ActionName + '</td>'; //功能
                    _StrHtml += '<td id="WorkStart' + ddl.Seq + '">' + ddl.WorkStart + '</td>'; //工作區間(起)
                    _StrHtml += '<td id="WorkEnd' + ddl.Seq + '">' + ddl.WorkEnd + '</td>'; //工作區間(尾)

                    //if (ddl.IsOn == 1) {//功能開關
                    //    _StrHtml += '<td id="IsOn' + ddl.Seq + '"><label>已開啟</label></td>';
                    //} else {
                    //    _StrHtml += '<td id="IsOn' + ddl.Seq + '"><label>已關閉</label></td>';
                    //}
                    if (ddl.IsRun == 1) {//執行狀態
                        _StrHtml += '<td id="IsRun' + ddl.Seq + '"><label>已執行</label></td>';
                    } else {
                        _StrHtml += '<td id="IsRun' + ddl.Seq + '"><label>未執行</label></td>';
                    }
                    if (ddl.IsNotice == 1) {//通知信狀態
                        _StrHtml += '<td id="IsNotice' + ddl.Seq + '"><label>已通知</label></td>';
                    } else {
                        _StrHtml += '<td id="IsNotice' + ddl.Seq + '"><label>未通知</label></td>';
                    }
                    _StrHtml += '<td id="WorkName' + ddl.Seq + '">' + ddl.WorkName + '</td>'; //註記
                    _StrHtml += '</tr >';

                });
                _StrHtml += '</tbody > ';
                $('#tbResult').html(_StrHtml);

            }, fail: function () {
                alert('匯入失敗!!');
            }
        })
        //觸動年月選擇,異動下列報表
        $(document).on('change', '#ddlYM', function () {
            var DateYM = $('#ddlYM').find(":selected").val();
            QueryTable(DateYM);
        });
        //把查詢值暫存起來
    }

    //重置查詢條件
    function Reset() {
    }
    function GetNowTime() {
        //取現在時間
        var today = new Date();
        var _month = (today.getMonth() + 1).toString();
        if (_month.length == 1)
            _month = "0" + _month;
        var DateYM = (today.getFullYear() - 1911).toString() + _month;

        return DateYM;
    }
</script>
<section class="content-header">
    <h1>
        工作提醒(月執行)
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row vertical-align">
                        <div class="col-xs-auto">年月:</div>
                        <div class="col-xs-2">
                            <select name="ddlYM" id="ddlYM" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.col -->
        </div>
        <input type="hidden" id="hidUserName" />
        <input type="hidden" id="hidFuncName" />
        <input type="hidden" id="hidStatus" />
        <input type="hidden" id="hidloggedStart" />
        <input type="hidden" id="hidloggedEnd" />
        <!-- /.row -->
</section>




