
@{
    ViewBag.Title = "SystemPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        GetSettings();
        $('#SqlAccount').hide();
        $('#SqlPassword').hide();
        $('#FtpAccount').hide();
        $('#FtpPassword').hide();
        $('#SSOAccount').hide();
        $('#SSOPassword').hide();
        $('#MailAccount').hide();
        $('#MailPassword').hide();
    });
</script>
<section class="content-header">
    <h1>
        系統參數設定
    </h1>
</section>
<section class="content">
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="col-xs-12">
                            <div class="col-xs-12" style="margin-top:30px;margin-bottom:30px;">
                                <label>資料庫連線設定-</label>
                                <div class="col-xs-12">
                                    <input name="SqlConnection" class="col-sm-6 single-line" id="SqlConnection" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">帳號 : </label>
                                    <input name="SqlAccount" class="col-sm-2 single-line" id="SqlAccount" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">密碼 : </label>
                                    <input name="SqlPassword" class="col-sm-2 single-line" id="SqlPassword" type="text" value="" />
                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top:30px;margin-bottom:30px;">
                                <label>FTP連線設定-</label>
                                <div class="col-xs-12">
                                    <input name="FtpConnection" class="col-sm-6 single-line" id="FtpConnection" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">帳號 : </label>
                                    <input name="FtpAccount" class="col-sm-2 single-line" id="FtpAccount" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">密碼 : </label>
                                    <input name="FtpPassword" class="col-sm-2 single-line" id="FtpPassword" type="text" value="" />
                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top:30px;margin-bottom:30px;">
                                <label>WebService連線設定-</label>
                                <div class="col-xs-12">
                                    <input name="SSOConnection" class="col-sm-6 single-line" id="SSOConnection" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">帳號 : </label>
                                    <input name="SSOAccount" class="col-sm-2 single-line" id="SSOAccount" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">密碼 : </label>
                                    <input name="SSOPassword" class="col-sm-2 single-line" id="SSOPassword" type="text" value="" />
                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top:30px;margin-bottom:30px;">
                                <label>Mail設定-</label>
                                <div class="col-xs-12">
                                    <input name="MailAddress" class="col-sm-6 single-line" id="MailAddress" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">帳號 : </label>
                                    <input name="MailAccount" class="col-sm-2 single-line" id="MailAccount" type="text" value="" />
                                    <label class="col-sm-1" style="visibility:hidden">密碼 : </label>
                                    <input name="MailPassword" class="col-sm-2 single-line" id="MailPassword" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <label></label>
                        <div class="col-xs-12" style="margin-top:30px;margin-bottom:30px;">
                            <div class="col-xs-12">
                                <input name="Save" class="btn btn-primary" id="Save" type="button" value="儲存" />
                                <input name="Cancel" class="btn btn-danger" id="Cancel" type="button" value="重置" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('#ParameterSettings').addClass('active');
    $('#ParameterSettings').closest('ul').closest('li').addClass('active');

    $('#Cancel').on('click', function () {
        GetSettings();
    });

    $('#Save').on('click', function () {
        var data = {
            SqlAddress: $('#SqlConnection').val(),
            SqlAccount: $('#SqlAccount').val(),
            SqlPassword: $('#SqlPassword').val(),

            FtpAddress: $('#FtpConnection').val(),
            FtpAccount: $('#FtpAccount').val(),
            FtpPassword: $('#FtpPassword').val(),

            SSOAddress: $('#SSOConnection').val(),
            SSOAccount: $('#SSOAccount').val(),
            SSOPassword: $('#SSOPassword').val(),

            MailAddress: $('#MailAddress').val(),
            MailAccount: $('#MailAccount').val(),
            MailPassword: $('#MailPassword').val()
        };

        $.ajax({
            url: "@Url.Action("SetFileJson", "ParameterSettings")",
            data: data,
            type: "POST",
            async: false,
            dataType: "json",
            error: function (result) {
                console.log("失敗", result);
                alert("儲存失敗");
            },
            success: function (result) {
                console.log("成功", result);
                alert("儲存成功");
            }
        });
        
    });

    //取得設定參數
    function GetSettings() {
        $.ajax({
            url: "@Url.Action("GetFileJson", "ParameterSettings")",
            //data: data,
            type: "POST",
            dataType: "json",
            error: function (result) {
                console.log("失敗", result.db_Result);
            },
            success: function (result) {
                var resultStr = JSON.parse(result);
                var resultSql = resultStr.Sql[0];
                var resultFtp = resultStr.Ftp[0];
                var resultSSO = resultStr.SSO[0];
                var resultMail = resultStr.Mail[0];
                console.log("成功", resultStr, resultSql, resultFtp, resultSSO, resultMail);

                var SqlAddress = resultSql["Address"];
                var SqlAccount = resultSql["Account"];
                var SqlPassword = resultSql["Password"];
                $('#SqlConnection').val(SqlAddress);
                $('#SqlAccount').val(SqlAccount);
                $('#SqlPassword').val(SqlPassword);

                var FtpAddress = resultFtp["Address"];
                var FtpAccount = resultFtp["Account"];
                var FtpPassword = resultFtp["Password"];
                $('#FtpConnection').val(FtpAddress);
                $('#FtpAccount').val(FtpAccount);
                $('#FtpPassword').val(FtpPassword);

                var SSOAddress = resultSSO["Address"];
                var SSOAccount = resultSSO["Account"];
                var SSOPassword = resultSSO["Password"];
                $('#SSOConnection').val(SSOAddress);
                $('#SSOAccount').val(SSOAccount);
                $('#SSOPassword').val(SSOPassword);

                var MailAddress = resultMail["Address"];
                var MailAccount = resultMail["Account"];
                var MailPassword = resultMail["Password"];
                $('#MailAddress').val(MailAddress);
                $('#MailAccount').val(MailAccount);
                $('#MailPassword').val(MailPassword);
            }
        });
    };
</script>