
@{
    ViewBag.Title = "KPI_Busines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#divRatio').hide();

        var dt = new Date();
        var y = dt.getFullYear() - 1911;
        $('#CmbYearType').empty();
        for (var i = y - 2; i <= y; i++) {
            $('#CmbYearType').append("<option value=" + i + ">" + i + "</option>");
        }
        $('#CmbYearType').val(y);

        ////固定死 & 灰色
        //$("#divJstreeBody").css("pointer-events","none");
        //$("#divJstreeBody").css("background-color", "#cccccc");
    });
</script>

<section class="content-header">
    <h1>
        經營績效配比設定
    </h1>
</section>
<section class="content">
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div>
                            <h3><label>經營績效配比設定</label></h3>
                        </div>
                        <div>
                            <h3><label>總分數 : 100</label></h3>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <select name="CmbYearType" id="CmbYearType" class="form-control"></select>
                            </div>
                            <div class="col-xs-2">
                                <button id="SearchInfoYear" type="button" class="btn btn-primary btn-space">查 詢</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divRatio" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="divRatioBody" class="col-xs-12">
                            <label>分數配比 : </label>
                            <div class="col-xs-12">
                                <div>
                                    <label>業績配分權重 : </label>
                                    <input name="PerformanceRatioId" type="number" maxlength="10" id="PerformanceRatioId" min="0" />
                                    <label>%</label>
                                </div>
                                <div>
                                    <label>管理配分權重 : </label>
                                    <input name="ManageRatioId" type="number" maxlength="10" id="ManageRatioId" min="0" />
                                    <label>%</label>
                                </div>
                                @*<div class="box">
                                    <div class="box-body">
                                        <div>
                                            <label>管理績效總分 : </label>
                                            <input name="ManageDistributionId" type="number" maxlength="10" id="ManageDistributionId" min="0" />
                                        </div>
                                        <div>
                                            <label>專案扣分 : </label>
                                            <input name="ManageDeductionId" type="number" maxlength="10" id="ManageDeductionId" min="0" />
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-4">

                                </div>
                                <div class="col-xs-2">
                                    <button type="button" id="setRatio" class="btn btn-primary btn-space">儲 存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    //項目開合
    $('#KPI_Busines').addClass('active');
    $('#KPI_Busines').closest('ul').closest('li').addClass('active');

    //儲存
    $('#setRatio').on('click', function () {
        var ManageRatio = parseFloat($('#ManageRatioId').val());
        var PerformanceRatio = parseFloat($('#PerformanceRatioId').val());
        //var ManageDistribution = parseFloat($('#ManageDistributionId').val());
        //var ManageDeduction = parseFloat($('#ManageDeductionId').val());

        if (!isNaN(ManageRatio) && !isNaN(PerformanceRatio)) {
            if (ManageRatio + PerformanceRatio == 100) {
                var data = {
                    ManageRatio: ManageRatio,
                    PerformanceRatio: PerformanceRatio
                    //ManageDistribution: ManageDistribution,
                    //ManageDeduction: ManageDeduction
                }

                $.ajax({
                    url: "@Url.Action("SetRatio", "KPI_Busines")",
                    data: data,
                    type: "POST",
                    dataType: "json",
                    error: function (result) {
                        console.log("失敗");
                        console.log(result);
                        alert("儲存失敗");
                    },
                    success: function (result) {
                        alert("儲存成功");
                        console.log("成功");
                        console.log(result);
                        $('#ManageRatioId').val(result.ManageRatio);
                        $('#PerformanceRatioId').val(result.PerformanceRatio);
                        //$('#ManageDistributionId').val(result.ManageDistribution);
                        //$('#ManageDeductionId').val(result.ManageDeduction);
                    }
                });
            } else {
                alert("配分總和不滿100");
            }
        } else {
            alert("請輸入數字");
        }
    });

    //查詢項目
    $('#SearchInfoYear').on('click', function () {
        var Year = $('#CmbYearType').val();
        var dt = new Date();
        var time = dt.getFullYear() - 1911;
        var data = {
            Year: Year
        };
        $.ajax({
            url: "@Url.Action("GetItemRatio", "KPI_Busines")",
            data: data,
            type: "GET",
            dataType: "json",
            error: function (result) {
                console.log("失敗");
            },
            success: function (result) {
                console.log("成功");
                console.log(result);
                $('#ManageRatioId').val(result.ManageRatio);
                $('#PerformanceRatioId').val(result.PerformanceRatio);
                //$('#ManageDistributionId').val(result.ManageDistribution);
                //$('#ManageDeductionId').val(result.ManageDeduction);
            }
        });

        if (Year == time) {
            ////反固定死 & 灰色
            $("#divRatioBody").css("pointer-events", "visible");
            $("#divRatioBody").css("background-color", "#ffffff");
            $("#setRatio").show();
            $("#divRatio").show();
        } else {
            ////固定死 & 灰色
            $("#divRatioBody").css("pointer-events", "none");
            $("#divRatioBody").css("background-color", "#cccccc");
            $("#setRatio").hide();
            $("#divRatio").show();
        }
    });
</script>