@{
    ViewBag.Title = "QueryOver";
}
<script>
    var oTable;
    //初始設定
    $(function () {
        QueryTable()
    });

    //查詢
    function QueryTable() {
        //判斷有無設定過
        if (oTable)
        { oTable.destroy(); }
        $('#tbResult').empty();
        oTableSetting();
        //重新查詢
        oTable.ajax.reload(null, false);
        //把查詢值暫存起來
        $('#hidUserName').val($('#ddlUserName').val());
        $('#hidFuncName').val($('#ddlFuncName').val());
        $('#hidStatus').val($('#ddlStatus').val());
        $('#hidloggedStart').val($('#ddlloggedStart').val());
        $('#hidloggedEnd').val($('#ddlloggedEnd').val());
    }

    //重置查詢條件
    function Reset() {
        $('#ddlStatus').val('');
    }

    //匯出
    @*function Export() {
        //判斷是否有查詢
        if (!oTable || oTable.data().count() == 0)
        {
            alert('匯出前請先查出資料');
            return;
        }

        //var ExportViewModel = {
        //    ddlUserName: $('#hidUserName').val(),
        //    ddlFuncName: $('#hidFuncName').val(),
        //    ddlStatus: $('#hidStatus').val(),
        //    ddlloggedStart: $('#hidloggedStart').val(),
        //    ddlloggedEnd: $('#hidloggedEnd').val(),
        //    fileExtension: $('#ddlFileExtension').val()
        //};
        var fileExtension = $('#ddlFileExtension').val()

        $.ajax({
            type: "POST",
            url: '@Url.Action("Export", "MinuteLog")',
            data: fileExtension,
            contenType: "application/json; charset=utf-8",
        })
    .done(function (result) {
        window.open(result, null);
    })
    .fail(function () {
        alert("匯入失敗");
    })
    }*@

    //查詢Table設定
    function oTableSetting() {

        $('#Maintain').addClass('active');
        $('#Maintain').closest('ul').closest('li').addClass('active');


        var TableOptions = {
            "destroy": true,
            "oLanguage": {
                "sUrl": "../Content/datatables.net/tw.txt"
            },
            "bLengthChange": true,
            "dom": "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-3'i><'col-sm-7'p><'col-sm-2'l>>",
            "ordering": true,
            "searching": false,
            "iDisplayLength": 10,
            "bStateSave": false,
            "bPaginate": true,
            "scrollY": ($(window).height() - 290),
            "scrollX": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "GetoTable",
            "deferLoading": 0,
            "fnServerParams": function (aoData) {
                //aoData.push({ "name": "ddlStatus", "value": $('#ddlStatus').val() });
            },
            "columns": [
                //{ "title": "申請單編號", "data": "ProID" },
                {
                    "title": "申請單編號", "orderable": false, render: function (data, type, row) {
                        var _UrlStr = '@Url.Action("ReadSchedule", "SigningProcess")?ProID=' + row.ProID;
                        return '<a href="' + _UrlStr + '"><i class="fa fa-caret-right"></i>' + row.ProID + '</a>';
                    }
                },
                { "title": "申請項目名稱", "data": "PName" },
                { "title": "申請者名稱", "data": "UserName" },
                { "title": "簽核主管姓名", "data": "SupervisorName" },
                { "title": "覆核主管姓名", "data": "ReviewSupervisorName" },
                { "title": "簽核狀態", "data": "StatusText" }
            ],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success":
                        function (msg) {
                            fnCallback(msg);
                        }
                });
            }
        }
        oTable = $('#tbResult').DataTable(TableOptions);
    }
</script>
<section class="content-header">
    <h1>
        工作進度追蹤
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @*<div class="box-header">
                    <div class="row vertical-align">
                        <div class="col-xs-auto">簽核狀態:</div>
                        <div class="col-xs-2">
                            <select name="ddlStatus" id="ddlStatus">
                                <option value="0" selected>全部</option>
                                <option value="1">已結案</option>
                                <option value="2">待簽核</option>
                                <option value="3">已簽核，待覆核</option>
                            </select>
                        </div>
                    </div>
                    <div class="row vertical-align">
                        <div class="col-xs-auto "><button type="button" class="btn btn-primary btn-space" onclick="QueryTable();">查 詢</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="window.location.reload();">重置</button></div>
                        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Export();">匯出查詢結果</button></div>
                        <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    檔案類型
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">xlsx</a></li>
                                    <li><a href="#">docx</a></li>
                                    <li><a href="#">ods</a></li>
                                    <li><a href="#">odt</a></li>
                                </ul>
                                <label id="ddlFileExtension">xlsx</label>
                            </div>
                        <div class="col-xs-auto">檔案類型:</div>
                            <div class="col-xs-auto">
                                <select name="ddlFileExtension" id="ddlFileExtension" class="form-control">
                                    <option value="xlsx">xlsx</option>
                                    <option value="docx">docx</option>
                                    <option value="ods">ods</option>
                                    <option value="odt">odt</option>
                                </select>
                            </div>
                    </div>
                </div>*@
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <input type="hidden" id="hidUserName" />
    <input type="hidden" id="hidFuncName" />
    <input type="hidden" id="hidStatus" />
    <input type="hidden" id="hidloggedStart" />
    <input type="hidden" id="hidloggedEnd" />
    <!-- /.row -->
</section>

