@{
    ViewBag.Title = "KPI_PerformanceQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/jstree.js"></script>
<script src="~/Scripts/jstree.min.js"></script>

<script type="text/javascript">
    //初始設定
    $(function () {
        //初始化
        $.ajax({
            type: 'POST',
            data: '{}',
            //async: false, //啟用同步請求
            url: '@Url.Action("searchInit", "KPI_PerformanceQuery")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //年度
                var ddlYeartHtml = "";
                $.each(result.ddlYeart.DropDownListLT, function (i, ddl) {
                    ddlYeartHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlYeart').html(ddlYeartHtml);
                //區域下拉選單
                var ddlAreaHtml = "<option value=''>全部</option>";
                $.each(result.ddlArea.DropDownListLT, function (i, ddl) {
                    ddlAreaHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlArea').html(ddlAreaHtml);
                //分行下拉選單
                var ddlUntilHtml = "<option value=''>全部</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlUntilHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlUntilHtml);
                //考核組別下拉選單
                var ddlAssessmentGroupHtml = "<option value=''>全部</option>";
                $.each(result.ddlAssessmentGroup.DropDownListLT, function (i, ddl) {
                    ddlAssessmentGroupHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAssessmentGroup').html(ddlAssessmentGroupHtml);
                //區域中心
                var ddlAreacenterNameHtml = "<option value=''>全部</option>";
                $.each(result.ddlAreacenterName.DropDownListLT, function (i, ddl) {
                    ddlAreacenterNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlAreacenterName').html(ddlAreacenterNameHtml);
                //副總轄管區
                var ddlGen_JurisNameHtml = "<option value=''>全部</option>";
                $.each(result.ddlGen_JurisName.DropDownListLT, function (i, ddl) {
                    ddlGen_JurisNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlGen_JurisName').html(ddlGen_JurisNameHtml);
                //行舍
                //var ddlDormNameHtml = "<option value=''>全部</option>";
                //$.each(result.ddlDormName.DropDownListLT, function (i, ddl) {
                //    ddlDormNameHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                //});
                //$('#ddlDormName').html(ddlDormNameHtml);

            }, fail: function () {
                alert('系統錯誤!!');
            }
        })
        //載入Table
        //oTableSetting();
    });

    function ChangeDdlUntil() {
        $.ajax({
            type: 'POST',
            data: { Area: $('#ddlArea').val() },
            //async: false, //啟用同步請求
            url: '@Url.Action("GetddlUntil", "BusinessUT")',
            contenType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //失敗的處理
                if (result.db_Result) {
                    alert(result.db_Result);
                    return;
                }
                //分行下拉選單
                var ddlUntilHtml = "<option value=''>全部</option>";
                $.each(result.ddlUntil.DropDownListLT, function (i, ddl) {
                    ddlUntilHtml += '<option value="' + ddl.Values + '">' + ddl.Text + '</option>';
                });
                $('#ddlUntil').html(ddlUntilHtml);

            }, fail: function () {
                alert('系統錯誤');
            }
        })
    }

    //匯出
    function Export() {
        var ExportViewModel = {
            ddlYeart: $('#ddlYeart').val(),
            ddlMonth: $('#ddlMonth').val(),
            ddlArea: $('#ddlArea').val(),
            ddlUntil: $('#ddlUntil').val(),
            ddlAssessmentGroup: $('#ddlAssessmentGroup').val(),
            ddlAreacenterName: $('#ddlAreacenterName').val(),
            ddlGen_JurisName: $('#ddlGen_JurisName').val(),
            ddlDormName: $('#ddlDormName').val(),
            fileExtension: $('#ddlFileExtension').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("Export", "KPI_PerformanceQuery")',
            data: ExportViewModel,
            contenType: "application/json; charset=utf-8",
        })
    .done(function (result) {
        if (result == "") {
            alert("無查詢匯出結果");
            return;
        }
        var a = document.createElement('a');
        a.setAttribute('href', result);
        a.setAttribute('target', '_blank');
        a.setAttribute('download', result);
        a.style.display = 'none';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    })
    .fail(function () {
        alert("系統錯誤");
    })
    }
</script>

<section class="content-header">
    <h1>
        業績績效查詢
    </h1>
</section>
<section class="content">
    <div class="row vertical-align">
        <div class="col-xs-auto">年度:</div>
        <div class="col-xs-2">
            <select name="ddlYeart" id="ddlYeart" class="form-control"></select>
        </div>
        <div class="col-xs-auto">月份:</div>
        <div class="col-xs-2">
            <select name="ddlMonth" id="ddlMonth" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="col-xs-auto">地區別:</div>
        <div class="col-xs-2">
            <select name="ddlArea" id="ddlArea" onchange="ChangeDdlUntil();" class="form-control"></select>
        </div>
        <div class="col-xs-auto">分行:</div>
        <div class="col-xs-2">
            <select name="ddlUntil" id="ddlUntil" class="form-control"></select>
        </div>

    </div>
    <div class="row vertical-align">
        <div class="col-xs-auto">區域中心:</div>
        <div class="col-xs-2">
            <select name="ddlAreacenterName" id="ddlAreacenterName" class="form-control"></select>
        </div>
        <div class="col-xs-auto">副總轄管區:</div>
        <div class="col-xs-2">
            <select name="ddlGen_JurisName" id="ddlGen_JurisName" class="form-control"></select>
        </div>
        <div class="col-xs-auto">考核組別:</div>
        <div class="col-xs-2">
            <select name="ddlAssessmentGroup" id="ddlAssessmentGroup" class="form-control"></select>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="col-xs-auto"><button type="button" class="btn btn-primary btn-space" onclick="Export();">匯出查詢結果</button></div>
        <div class="col-xs-auto">檔案類型:</div>
        <div class="col-xs-auto">
            <select name="ddlFileExtension" id="ddlFileExtension" class="form-control">
                <option value="xlsx">xlsx</option>
                <option value="docx">docx</option>
                <option value="ODF">ODF</option>
                @*<option value="PDF">PDF</option>*@
            </select>
        </div>
    </div>
</section>