
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $.ready(function () {
    });

    //觸動後異動下載範本
    $(document).on('change', '#ddlUpfiles', function () {
        //var _val = $("#ddlUpfiles :selected").val();
        var _text = $("#ddlUpfiles :selected").text();
        StrHtml = '';
        StrHtml += '<a class="btn btn-primary btn-space" href="../DataFile/ManualUploadSample/' + _text + '.xlsx">下載範本</a>';
        $('#btnDownload_Sample').html(StrHtml);

    });
    function ComparisonFileName(fileInput) {
          var files = fileInput.files;

          for (var i = 0; i < files.length; i++) {
              var filename = files[i].name.split(".");
              if ($("#ddlUpfiles :selected").text() != filename[0])
                  alert("注意!!" + "\n" + "選擇項目: " + $("#ddlUpfiles :selected").text() + "\n" + "選擇檔案: " + filename[0] + "\n"  + "名稱不一樣，請檢查是否上傳錯誤。")
          }
    }
    //上傳檔案
    function UpLoad() {
        if ($("#ddlUpfiles :selected").text() != $("#files").text())

        //## 宣告一個FormData
        var data = new FormData();
        //## 將檔案append FormData
        var files = $("#files").get(0).files;
        if (files.length > 0) {
            data.append("UploadedFile", files[0]);
            data.append("FileValues", $("#ddlUpfiles :selected").val());
            data.append("FileText", $("#ddlUpfiles :selected").text());
        }
        else {
            alert('請選擇匯入檔案');
            return;
        }
        //## 透過ajax方式Post 至Action
        var ajaxRequest = $.ajax({
            type: "POST",
            url: "@Url.Action("Upload", "ManualUpload")",
            contentType: false,         // 告诉jQuery不要去這置Content-Type
            processData: false,         // 告诉jQuery不要去處理發送的數據
            dataType: "json",
            data: data
        })
        .done(function (result) {
            alert(result);
            document.location.replace('@Url.Action("Index", "ManualUpload")');
        })
        .fail(function () {
            alert("匯入失敗");
        });
    }
</script>

<section class="content-header">
    <h1>
        人工上傳
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="row vertical-align" style="white-space:nowrap;">
                        <div class="col-md-auto">選擇項目:</div>
                        <div class="col-md-3">
                            <select name="ddlUpfiles" id="ddlUpfiles" class="">
                                <option value='1' selected>信託部-各項手收合計數</option>
                                <option value='2'>信託部-聯行貼補手續費收入</option>
                                <option value='3'>風管部-資本成本</option>
                                <option value='4'>財管部-手續費收入營運概況表</option>
                                <option value='5'>國外部-代辦OBU盈餘調整數</option>
                                <option value='6'>國外部-營運概況表</option>
                                <option value='7'>債管部-呆帳息</option>
                                <option value='8'>債管部-追債收回統計表</option>
                                <option value='9'>債管部-應提備抵呆帳數</option>
                                <option value='10'>債管部-營運概況表</option>
                                <option value='11'>會計處-存放利率(累計)</option>
                                <option value='12'>會計處-存放利率(當月)</option>
                                <option value='13'>會計處-存放利率</option>
                                <option value='14'>業務部-目標分配</option>
                                <option value='15'>業務部-存款調整數</option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <label id="lblUploadNewFile" for="file">檔案路徑:</label>
                            <input type="file" name="files" id="files" multiple onchange="ComparisonFileName(this)" style="display:inline;" multiple />
                        </div>
                        <div class="col-md-auto"><button type="button" class="btn btn-warning" onclick="UpLoad();">申請上傳</button></div>
                        <div id="btnDownload_Sample" class="col-md-auto"><a class="btn btn-primary btn-space" href="~/DataFile/ManualUploadSample/信託部-各項手收合計數.xlsx">下載範本</a></div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbResult" class="table table-bordered table-hover">
                        <thead>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
